<mat-card class="example-card">
  <mat-card-subtitle>Enero 7, 2022</mat-card-subtitle>
  <mat-card-title>Título del post 3</mat-card-title>
  <mat-card-content>
    <p>This card has divider and indeterminate progress as footer</p>
    <p>{{ longText }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <h2>Comentarios</h2>
  <textarea rows="12" cols="80" placeholder="Escribe aquí tus comentarios..."></textarea>

  <mat-card-actions>
    <button mat-raised-button color="primary">COMENTAR</button>
  </mat-card-actions>

  <mat-divider inset></mat-divider>

  <h2>John Doe</h2>
  <mat-card-subtitle>Hace una semana</mat-card-subtitle>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
    aperiam,
    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <mat-card-actions>
    <button mat-raised-button color="primary">LIKE</button>
  </mat-card-actions>

</mat-card>
