<mat-card class="example-card">
  <mat-card-subtitle>FECHA {{respuesta?.date}}</mat-card-subtitle>

  <mat-card-title> {{respuesta?.activityName}}</mat-card-title>

  <mat-card-content>
    <p>{{respuesta?.activityObjectives}}</p>
    <p>{{ longText }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>

  <form [formGroup]="form" (ngSubmit)="saveComment()">
    <h2>Escribe un comentario</h2>
    <textarea formControlName="comment" rows="12" cols="80" placeholder="Escribe aquí tus comentarios..."></textarea>

    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">COMENTAR</button>
    </mat-card-actions>
  </form>

  <h2>Comentarios realizados</h2>

  <mat-divider inset></mat-divider>

  <app-comments [recibiendoComments]="commentss" *ngFor="let commentss of comments"></app-comments>

</mat-card>
