<mat-card>
  <mat-card-title>Ficha de seguimiento</mat-card-title>
  <form [formGroup]="form">
    <mat-grid-list cols="2" rowHeight="70px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Nombres</mat-label>
          <input formControlName="names" matInput placeholder="Nombres">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Apellidos</mat-label>
          <input formControlName="lastnames" type="text" matInput placeholder="Apellidos">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Tipo de identificación</mat-label>
          <input formControlName="identificationType" type="text" matInput placeholder="Tipo de identificación">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>No. Identificación</mat-label>
          <input formControlName="identification" type="number" matInput placeholder="No. Identificación">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <b>Seguimiento de ruta</b>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Tipo de ruta que activó:</mat-label>
          <input formControlName="typeRoute" matInput placeholder="Tipo de ruta que activó: ">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Entidad remitida</mat-label>
          <input formControlName="referredEntity" matInput placeholder="Entidad remitida">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Estado de la atención en entidad a la que se remitió:</mat-label>
          <input formControlName="attentionStatus" matInput
                 placeholder="Estado de la atención en entidad a la que se remitió">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-form-field class="inputClass" appearance="fill">
          <mat-label>Recomendaciones, sugerencias y cierre de proceso:</mat-label>
          <input formControlName="recommendations" matInput
                 placeholder="Recomendaciones, sugerencias y cierre de proceso">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
<!--        <button type="submit" mat-raised-button color="primary" (click)="saveForm(form); deleteRasm(1)" >GUARDAR</button>-->
        <button type="submit" mat-raised-button color="primary" (click)="saveFormPrueba(); deleteRasm(1)" >GUARDAR</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button>CANCELAR</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</mat-card>
