.inputClass{
  width: 290px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.selectClass{
  width: 400px;
  margin-top: 22px;
  margin-left: 15px;
}
.advancedForm {
  width: 850px;
  font-size: 14px;
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
}
