@import "../../assets/colors";

.content {
  height: 100%;
  background-image: url("/assets/images/bg.jpg");
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  background-size: cover;
}

.content-card{
  position: absolute;
  top: 50%;
  transform: translate(40%, 70px);
}

.content-logos-column{
  position: absolute;
  transform: translate(90%, 0%);
  width: 50%;
  height: 80px;
  background-size: auto;
  background-color: white;
  border-radius: 0 0 60px 60px;
  display: flex;
}

.example-card {
  max-width: 245px;
  height: 390px;
  background: $md-primary-degrade;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 1px 0;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  margin-top: 20px;
  width: 100%;
}

.mat-card-button {
  //background: #7ec32d;
  color: white;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 12px;
}

.mat-card-title {
  justify-content: center;
}

.example-full {
  width: 100%;
}

.content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-header-image {
  background-image: url("/assets/images/log_white.ico");
  background-size: cover;
  width: 70%;
  height: 75px;
  margin: 10px 0 10px 0;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  color: #7ec32d;
  margin-top: 0 !important;
}

.table-content-img{
  margin: auto;
  width: 90%;
}

.img-log-1{
  background-image: url("/assets/images/sgr.ico");
  width: 100%;
  height: 72px;
  margin: 0 auto ;
  background-size: contain;
  background-repeat: no-repeat;
}
.img-log-2{
  background-image: url("/assets/images/logos-indeportes.ico");
  width: 100%;
  height: 72px;
  margin: 0 auto ;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-log-3{
  background-image: url("/assets/images/ucc.ico");
  width: 100%;
  height: 72px;
  margin: 0 auto ;
  background-size: contain;
  background-repeat: no-repeat;
}
.img-log-4{
  background-image: url("/assets/images/log_color.ico");
  width: 100%;
  height: 72px;
  margin: 0 auto ;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and( max-height: 960px){
  .content-card{
    position: absolute;
    top: 50%;
    transform: translate(20%, 56px);
  }
}

@media only screen and( max-height: 900px){
  .content-card{
    position: absolute;
    top: 40%;
    transform: translate(20%, 75px);
  }
}

@media only screen and( max-height: 800px){
  .content-card{
    position: absolute;
    top: 40%;
    transform: translate(20%, 39px);
  }
}
