<mat-card>
  <tr></tr>
  <mat-card-title>Rutas de atención activas</mat-card-title>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

<!--    &lt;!&ndash; id_poll Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="id_poll">-->
<!--      <th mat-header-cell *matHeaderCellDef> Id_Poll</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.idPoll}} </td>-->
<!--    </ng-container>-->

    <!-- type_rasm Column -->
    <ng-container matColumnDef="type_rasm">
      <th mat-header-cell *matHeaderCellDef> Tipo de Ruta</th>
      <td  mat-cell *matCellDef="let element"> {{element.typeRasm}} </td>
    </ng-container>

    <!-- Professional Column -->
    <ng-container matColumnDef="professional">
      <th mat-header-cell *matHeaderCellDef> Profesional</th>
      <td  mat-cell *matCellDef="let element"> {{element.professional}} </td>
    </ng-container>

    <!-- Beneficiary Column -->
    <ng-container matColumnDef="beneficiary">
      <th mat-header-cell *matHeaderCellDef> Beneficiario</th>
      <td mat-cell *matCellDef="let element"> {{element.nameBeneficiary}}  {{element.lastNameBeneficiary}} </td>
    </ng-container>

    <!-- Type Identification Column -->
    <ng-container matColumnDef="typeIdentification">
      <th mat-header-cell *matHeaderCellDef> Tipo de Identificacion</th>
      <td mat-cell *matCellDef="let element"> {{element.typeIdentification}} </td>
    </ng-container>
    <!-- Identification Column -->
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef> Identificacion</th>
      <td height="25%" mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>
    <!-- Municipio Column -->
    <ng-container matColumnDef="municipality">
      <th mat-header-cell *matHeaderCellDef> Municipio </th>
      <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
    </ng-container>

    <!-- Cellphone Column -->
    <ng-container matColumnDef="cellphone">
      <th mat-header-cell *matHeaderCellDef> Telefono</th>
      <td mat-cell *matCellDef="let element"> {{element.cellphone}} </td>
    </ng-container>


    <!-- Type Quest Column -->
    <ng-container matColumnDef="typeQuestionnaire">
      <th mat-header-cell *matHeaderCellDef> Tipo de cuestionario </th>
      <td mat-cell *matCellDef="let element"> {{element.typeQuestionnaire}} </td>
    </ng-container>

    <!-- SCORE Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Ponderado </th>
      <td mat-cell *matCellDef="let element"> {{element.score}} </td>
    </ng-container>


    <!-- seguimiento -->
    <ng-container matColumnDef="seguimiento">
      <th mat-header-cell *matHeaderCellDef> Seguimiento</th>
      <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="accent" [routerLink]="['../tracking-sheet', element?.idPoll]">Seguimiento</button>
        <!--<button mat-raised-button color="accent" onclick="location.href='http://localhost:4200/navbar/tracking-sheet'">Seguimiento</button>-->
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
