<mat-card>
  <mat-card-title>Rutas de atención Activas</mat-card-title>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- id_poll Column -->
    <ng-container matColumnDef="id_poll">
      <th mat-header-cell *matHeaderCellDef> Id_Poll</th>
      <td mat-cell *matCellDef="let element"> {{element.id_poll}} </td>
    </ng-container>

    <!-- type_rasm Column -->
    <ng-container matColumnDef="type_rasm">
      <th mat-header-cell *matHeaderCellDef> Type_rasm</th>
      <td mat-cell *matCellDef="let element"> {{element.type_rasm}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
