<mat-card>
  <mat-card-title>Rutas de atención Activas</mat-card-title>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- id_poll Column -->
    <ng-container matColumnDef="id_poll">
      <th mat-header-cell *matHeaderCellDef> Id_Poll</th>
      <td mat-cell *matCellDef="let element"> {{element.idPoll}} </td>
    </ng-container>

    <!-- type_rasm Column -->
    <ng-container matColumnDef="type_rasm">
      <th mat-header-cell *matHeaderCellDef> Type_rasm</th>
      <td mat-cell *matCellDef="let element"> {{element.typeRasm}} </td>
    </ng-container>

    <!-- nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let element"> {{element.beneficiary}} </td>
    </ng-container>

    <!-- documento Column -->
    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Identificacion</th>
      <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>


    <!-- seguimiento -->
    <ng-container matColumnDef="seguimiento">
      <th mat-header-cell *matHeaderCellDef> Seguimiento</th>
      <td mat-cell *matCellDef="let element">
        <!--        <button mat-raised-button color="accent" routerLink="instrument-review">Seguimiento</button>-->
        <button mat-raised-button color="accent" onclick="location.href='http://localhost:4200/navbar/tracking-sheet'">Seguimiento</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
