<mat-card class="example-card">
  <mat-card-title>Título del post 3</mat-card-title>
  <mat-card-subtitle>FECHA: 07-02-2022</mat-card-subtitle>
  <mat-card-content>
    <p>Aquí pordemos usar un subtítulo.</p>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="report-description" mat-raised-button color="primary">VER REPORTE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title>Título del post 2</mat-card-title>
  <mat-card-subtitle>FECHA: 07-02-2022</mat-card-subtitle>
  <mat-card-content>
    <p>Aquí pordemos usar un subtítulo.</p>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">VER REPORTE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title>Título del post 1</mat-card-title>
  <mat-card-subtitle>FECHA: 07-02-2022</mat-card-subtitle>
  <mat-card-content>
    <p>Aquí pordemos usar un subtítulo.</p>
    <p>{{longText}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">VER REPORTE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
