
<mat-card class="mat-card1">
  <mat-card class="mat-card2">
    <mat-card-title>Historia clínica psicosocial</mat-card-title>

    <form [formGroup]="form">

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Datos personales básicos:</b>
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="70px">

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Cidudad - Municipio</mat-label>
                <input formControlName="city" matInput placeholder="Cidudad-Municipio">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Departamento</mat-label>
                <input formControlName="departament" type="text" matInput placeholder="Departamento">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Fecha de evaluación</mat-label>
                <input formControlName="evaluationDate" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Sexo</mat-label>
                <input formControlName="sex" type="text" matInput placeholder="Sexo">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Nombre del paciente</mat-label>
                <input formControlName="name" matInput placeholder="Nombre del paciente ">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Apellido del paciente</mat-label>
                <input formControlName="lastName" matInput placeholder="Apellido del paciente">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>No. de identificación</mat-label>
                <input type="number" formControlName="identificationNumber" matInput
                       placeholder="No. de identificación">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Edad</mat-label>
                <input type="number" formControlName="age" matInput placeholder="Edad">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Fecha de nacimiento</mat-label>
                <input formControlName="dateBirth" matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>


        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Procedencia</b>
            </mat-panel-title>
            <mat-panel-description>
              Type the country name
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Etnia</mat-label>
                <input formControlName="ethnicity" matInput placeholder="Etnia">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Religión</mat-label>
                <input formControlName="religion" type="text" matInput placeholder="Religión">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Lugar de nacimiento</mat-label>
                <input formControlName="placeBirth" type="text" matInput placeholder="Lugar de nacimiento">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Procedencia</mat-label>
                <input formControlName="origin" matInput placeholder="Procedencia">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Dirección de procedencia</mat-label>
                <input formControlName="originAddress" matInput placeholder="Dirección de procedencia">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Barrio</mat-label>
                <input formControlName="neighborhood" matInput placeholder="Barrio">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Estrato</mat-label>
                <input type="number" formControlName="stratum" matInput
                       placeholder="Estrato">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input type="number" formControlName="phone" matInput
                       placeholder="Teléfono">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>


          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** CONSULTA ********* -->

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Consulta</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Motivo de consulta</mat-label>
                <input formControlName="reasonConsultation" matInput placeholder="Motivo de consulta">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Enfermedad actual</mat-label>
                <input formControlName="currentIllness" type="text" matInput placeholder="Enfermedad actual">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>


          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** ANTECEDENTES PERSONALES ********* -->

        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Antecedentes personales</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- ********** Antecedentes Psiquiátricos ********* -->

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes Psiquiátricos
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observaciones</mat-label>
                    <input formControlName="AP_APS_Observations" matInput placeholder="Observaciones">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Diagnósticos</mat-label>
                    <input formControlName="AP_APS_Diagnostics" type="text" matInput placeholder="Diagnósticos">
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <h3>Tratamiento</h3>
                  <mat-divider></mat-divider>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Medicamento</mat-label>
                    <input formControlName="AP_APS_Medicine" type="text" matInput placeholder="Medicamento">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Dosis</mat-label>
                    <input formControlName="AP_APS_Dose" type="text" matInput placeholder="Dosis">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Tiempo</mat-label>
                    <input formControlName="AP_APS_Time" type="text" matInput placeholder="Tiempo">
                  </mat-form-field>
                </mat-grid-tile>

              </mat-grid-list>


            </mat-expansion-panel>
          </mat-accordion>


          <!-- ********** Antecedentes Médicos ********* -->
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes Médicos
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observaciones</mat-label>
                    <input formControlName="AP_AM_Observations" matInput placeholder="Observaciones">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Diagnósticos</mat-label>
                    <input formControlName="AP_AM_Diagnostics" type="text" matInput placeholder="Diagnósticos">
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <h3>Tratamiento</h3>
                  <mat-divider></mat-divider>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Medicamento</mat-label>
                    <input formControlName="AP_AM_Medicine" type="text" matInput placeholder="Medicamento">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Dosis</mat-label>
                    <input formControlName="AP_AM_Dose" type="text" matInput placeholder="Dosis">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Tiempo</mat-label>
                    <input formControlName="AP_AM_Time" type="text" matInput placeholder="Tiempo">
                  </mat-form-field>
                </mat-grid-tile>

              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <!-- ********** Antecedentes Quirúrgicos ********* -->
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes Quirúrgicos
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <!-- ********** <mat-grid-list cols="2" rowHeight="70px"> ********* -->
              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observaciones</mat-label>
                    <input formControlName="AP_AQ_Observations" type="text" matInput placeholder="Observaciones">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <!-- ********** Antecedentes Relacionales ********* -->
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes Relacionales
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Situación laboral</mat-label>
                    <input formControlName="AP_AR_employmentSituation" type="text" matInput
                           placeholder="Situación laboral">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Situaciones interpersonales</mat-label>
                    <input formControlName="AP_AR_Relationships" type="text" matInput
                           placeholder="Situaciones interpersonales">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Relaciones sociales</mat-label>
                    <input formControlName="AP_AR_socialRelationships" type="text" matInput
                           placeholder="Relaciones sociales">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Situaciones familiares</mat-label>
                    <input formControlName="AP_AR_familyRelationships" type="text" matInput
                           placeholder="Situaciones familiares">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** ANTECEDENTES FAMILIARES ********* -->

        <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Antecedentes familiares</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Antecedentes psiquiátricos -->
          <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes psiquiátricos
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observaciones</mat-label>
                    <input formControlName="AF_APS_Observations" type="text" matInput placeholder="Observaciones">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>


            </mat-expansion-panel>
          </mat-accordion>

          <!-- Antecedentes médicos -->
          <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Antecedentes médicos:
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observaciones</mat-label>
                    <input formControlName="AF_AM_Observations" type="text" matInput placeholder="Observaciones">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** ESTADO MENTAL ********* -->

        <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Estado mental</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- CONCIENCIA - Orientación -->
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CONCIENCIA - Orientación
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Tiempo</mat-label>
                    <input formControlName="EM_Time" type="text" matInput placeholder="Tiempo">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Lugar</mat-label>
                    <input formControlName="EM_Place" type="text" matInput placeholder="Lugar">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Persona</mat-label>
                    <input formControlName="EM_Person" type="text" matInput placeholder="Persona">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <!-- CONCIENCIA - Observación -->
          <mat-accordion>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  CONCIENCIA - Observación
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="inputClass" appearance="fill">
                    <mat-label>Observación</mat-label>
                    <input formControlName="EM_Observations" type="text" matInput placeholder="Observación">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>

            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** EVALUACIÓN PSICOSOCIAL INTEGRAL EN SALUD ********* -->

        <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Evaluación psicosocial integral en salud</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Problema en salud:</mat-label>
                <input formControlName="EPIS_healthProblems" type="text" matInput placeholder="Problema en salud ">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Sistema de creencias en salud:</mat-label>
                <input formControlName="EPIS_healthBeliefSystem" type="text" matInput
                       placeholder="Sistema de creencias en salud">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Afrontamiento de la enfermedad:</mat-label>
                <input formControlName="EPIS_copingWithIllness" type="text" matInput
                       placeholder="Afrontamiento de la enfermedad">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Impresión diagnóstica: (según código CIE10):</mat-label>
                <input formControlName="EPIS_diagnosticImpression" type="text" matInput
                       placeholder="Impresión diagnóstica">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <!--Nivle de intervención modelo psicosocial-->

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Nivel de intervención modelo biopsicosocial:
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="3">
                  <mat-radio-group formControlName="nivelIntervencionElegida">
                    <ul>
                      <li *ngFor="let nivelIntervencion of nivelIntervencionModeloBiopsicosocial">
                        <mat-radio-button class="example-radio-button" [value]="nivelIntervencion">
                          {{nivelIntervencion}}
                        </mat-radio-button>
                      </li>
                    </ul>

                  </mat-radio-group>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="2">

                  <div *ngIf="form.value.nivelIntervencionElegida == 'Promoción de la salud'">
                    Especifique: Promoción de la salud
                    <mat-form-field class="inputClass" appearance="fill">
                      <mat-label>Especifique - Promoción de la salud</mat-label>
                      <input formControlName="especifique_promocionSalud" type="text" matInput
                             placeholder="Promoción de la salud">
                    </mat-form-field>
                  </div>

                  <div *ngIf="form.value.nivelIntervencionElegida == 'Prevención de la enfermedad'">
                    Especifique: Prevención de la enfermedad
                    <mat-radio-group formControlName="seleccione_prevencionEnfermedad">
                      <br>
                      <mat-radio-button value="Primario">Primario</mat-radio-button>
                      <br>
                      <mat-radio-button value="Secundario">Secundario</mat-radio-button>
                      <br>
                      <mat-radio-button value="Terciario">Terciario</mat-radio-button>
                      <br>
                      <mat-radio-button value="Cuaternario">Cuaternario</mat-radio-button>
                      <br>
                    </mat-radio-group>
                  </div>

                </mat-grid-tile>
              </mat-grid-list>


            </mat-expansion-panel>
          </mat-accordion>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <!-- ********** PROFESIONAL RESPONSABLE ********* -->

        <mat-expansion-panel [expanded]="step === 7" (opened)="setStep(7)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Profesional Responsable</b>
            </mat-panel-title>
            <mat-panel-description>
              Inform the date you wish to travel
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-grid-list cols="2" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input formControlName="professionalName" matInput placeholder="Nombre">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>TP:</mat-label>
                <input formControlName="TP" type="text" matInput placeholder="TP">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputClass" appearance="fill">
                <mat-label>Profesión:</mat-label>
                <input formControlName="Profession" type="text" matInput placeholder="Profesión">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="saveForm()">End/Send</button>
          </mat-action-row>
        </mat-expansion-panel>

      </mat-accordion>


    </form>
  </mat-card>
</mat-card>


