<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          (click)="drawer.toggle()">
    <mat-icon fontSet="material-icons-two-tone">menu</mat-icon>
  </button>
  <span>Motiva</span>
  <span class="example-spacer"></span>
  <div id="namePerson">{{fullName}} <br>
    <span style="font-size: 15px">({{rol}})</span>
  </div>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with logout icon" (click)="logOut()"
          routerLink="/login">
    <mat-icon fontSet="material-icons-two-tone">logout</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <mat-panel-title>
        Caracterización de usuarios
      </mat-panel-title>
      <a routerLink="dashboard" mat-list-item *ngIf="buttonMenuDashBoard">
        <mat-icon fontSet="material-icons-two-tone">dashboard</mat-icon>
        &nbsp;&nbsp;Dashboard</a>
      <a (click)="openDialog()" mat-list-item *ngIf="buttonMenuQuantitive">
        <mat-icon fontSet="material-icons-two-tone">home</mat-icon>
        &nbsp;&nbsp;Instrumento Cuantitativo</a>
      <a routerLink="care-sheet" mat-list-item *ngIf="buttonMenuTrakingSheet">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Ficha de atención</a>
      <mat-divider></mat-divider>
      <mat-panel-title>
        Redes de apoyo en salud mental
      </mat-panel-title>
      <a routerLink="community-agents" mat-list-item *ngIf="buttonMenuCommunityAgents">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Agentes Comunitarios</a>
      <a routerLink="forum" mat-list-item *ngIf="buttonMenuForum">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Foro</a>
      <a routerLink="care-routes" mat-list-item *ngIf="buttonMenuForum">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Rutas de atención</a>
      <mat-divider></mat-divider>
      <mat-panel-title>
        Seguimiento a usuarios
      </mat-panel-title>
      <a routerLink="tracking-sheet" mat-list-item *ngIf="buttonMenuTrakingSheet">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Ficha de seguimiento</a>
      <a routerLink="alerts" mat-list-item *ngIf="buttonMenuAlerts">
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Alertas</a>
      <a routerLink="ova" mat-list-item>
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;OVA</a>
      <mat-divider></mat-divider>
      <mat-panel-title>
        Soporte
      </mat-panel-title>
      <a routerLink="support" mat-list-item>
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Canal de ayuda</a>
      <mat-divider></mat-divider>
      <mat-panel-title>
        Reportes
      </mat-panel-title>
      <a routerLink="reports" mat-list-item>
        <mat-icon fontSet="material-icons-two-tone">face</mat-icon>
        &nbsp;&nbsp;Reportes</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
