.cardss {
  margin-top: 2050px;
  //padding-top: 500px;
  width: 900px;
}

mat-grid-tile {
  background: greenyellow;
}

.img-principal {
  height: 800px;
}

.container {
  height: 100%;
  width: 66vw;
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
