<mat-card>
  <mat-card-title>Rutas de atención en salud mental</mat-card-title>
  <br>
  <mat-card-content>
    <img mat-card-image src="./assets/images/care-routes/Mapa.png" alt="Photo of a Shiba Inu">
  </mat-card-content>

  <br>
  <h2>Elige una ruta de atención</h2>
  <mat-grid-list cols="2" rowHeight="220px">
    <mat-grid-tile colspan="1">
      <img (click)="openDialog2()" src="./assets/images/care-routes/telephone-routes/1.jpg" width="98%" height="215px">
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img (click)="openDialog2()" src="./assets/images/care-routes/telephone-routes/2.jpg" width="98%" height="215px">
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img (click)="openDialog2()" src="./assets/images/care-routes/telephone-routes/3.jpg" width="98%" height="215px">
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <img (click)="openDialog2()" src="./assets/images/care-routes/telephone-routes/4.jpg" width="98%" height="215px">
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <img (click)="openDialog2()" src="./assets/images/care-routes/telephone-routes/5.jpg" width="98%" height="215px">
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>

