<!--<iframe src="http://localhost"></iframe>-->
<!--<iframe src="http://3.88.39.15/moodle"></iframe>-->
<!--<embed src="http://3.88.39.15/moodle" width="1000px" height="700px">-->
<!--<object-->
<!--        data="http://3.88.39.15/moodle"-->
<!--        width="1000px"-->
<!--        height="700px">-->
<!--</object>-->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Redireccionar al Objeto Virtual de aprendizaje OVA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"><b>
      <a href="http://3.88.39.15/moodle" target='_blank'>Ir al OVA</a>
    </b></button>
  </mat-card-actions>
</mat-card>
