<mat-grid-tile-header>Instrumento cuantitativo adultos</mat-grid-tile-header>
<mat-vertical-stepper [linear]="true" class="mat-stepper-vertical">
  <mat-step [stepControl]="personalInfo" color="primary">
    <ng-template matStepLabel>Información Personal</ng-template>
    <mat-card class="advancedForm">
      <mat-card-header>
        <mat-card-title>Beneficiario</mat-card-title>
      </mat-card-header>
      <form [formGroup]="personalInfo">
        <mat-grid-list cols="2" rowHeight="85px">
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>Primer Nombre</mat-label>
              <input matInput placeholder="First name" formControlName="firstName" required>
              <mat-error *ngIf="isControlHasError('firstName', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>Segundo Nombre</mat-label>
              <input matInput placeholder="First name" formControlName="secondName">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>Primer Apellido</mat-label>
              <input matInput maxlength="30" formControlName="firstLastName" required>
              <mat-error *ngIf="isControlHasError('firstLastName', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>Segundo Apellido</mat-label>
              <input matInput maxlength="30" formControlName="secondLastName">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Tipo de Documento</mat-label>
              <mat-select formControlName="typeIdentification" (click)="selectQuestion(204)" required>
                <mat-option *ngFor="let item of typeIdentificationList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasError('typeIdentification', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>No. Identificación</mat-label>
              <input type="text" matInput placeholder="Identificación" maxlength="12" minlength="8"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" formControlName="identification" required>
              <mat-error *ngIf="isControlHasError('identification', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="address" required>
              <mat-error *ngIf="isControlHasError('address', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass" appearance="standard">
              <mat-label>No. telefónico</mat-label>
              <input type="text" matInput placeholder="Número telefóinico" maxlength="12" minlength="8"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" formControlName="cellphone" required>
              <mat-error *ngIf="isControlHasError('cellphone', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <button mat-button matStepperNext>Siguiente</button>
    </mat-card>
  </mat-step>

  <mat-step [stepControl]="secundaryInfo">
    <ng-template matStepLabel>Factores sociodemográficos</ng-template>
    <mat-card class="advancedForm">
      <form [formGroup]="secundaryInfo">
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field class="inputClass">
              <mat-label>Edad</mat-label>
              <input matInput placeholder="Edad" formControlName="age" maxlength="3"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
              <mat-error *ngIf="isControlHasErrorSecundary('age', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sex" (click)="selectQuestion(2)" required>
                <mat-option *ngFor="let item of sexList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('sex', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Reconocimiento étnico</mat-label>
              <mat-select formControlName="ethnicity" (click)="selectQuestion(3)" required>
                <mat-option *ngFor="let item of ethnicityList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('ethnicity', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Estado civil</mat-label>
              <mat-select formControlName="civilStatus" (click)="selectQuestion(4)" required>
                <mat-option *ngFor="let item of civilStatusList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('civilStatus', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group">
              <label>Zona de residencia</label>
              <mat-radio-group class="example-radio-group" formControlName="zoneResidence"
                               aria-label="Zona de residencia" required>
                <mat-radio-button class="example-radio-button" value="15">Rural</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="16">Urbano</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="isControlHasErrorSecundary('zoneResidence', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Municipio de residencia</mat-label>
              <mat-select formControlName="municipalityResidence" required>
                <mat-option *ngFor="let city of citiesList" [value]="city.viewValue">
                  {{city.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('municipalityResidence', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass">
              <mat-label>No. Personas con las que convive</mat-label>
              <input matInput placeholder="No. Personas con las que convive" formControlName="personCoexist"
                     maxlength="2"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
              <mat-error *ngIf="isControlHasErrorSecundary('personCoexist', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Tipo de vivienda</mat-label>
              <mat-select formControlName="typeHome" (click)="selectQuestion(8)" required>
                <mat-option *ngFor="let item of typeHomeList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('typeHome', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Acceso a servicios</mat-label>
              <mat-select formControlName="accessServicies" (click)="selectQuestion(9)" multiple required>
                <mat-option *ngFor="let item of accessServiciesList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('accessServicies', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Escolaridad</mat-label>
              <mat-select formControlName="educationLevel" (click)="selectQuestion(10)" required>
                <mat-option *ngFor="let item of educationLevelList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('educationLevel', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Ocupación</mat-label>
              <mat-select [(ngModel)]="occupationValue" formControlName="occupation" (click)="selectQuestion(11)"
                          required>
                <mat-option *ngFor="let item of occupationList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('occupation', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="occupationValue == 38 || occupationValue == 39">
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Modalidad de trabajo</mat-label>
              <mat-select formControlName="workMode" (click)="selectQuestion(12)">
                <mat-option *ngFor="let item of workModeList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('workMode', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>Percepción de seguridad social en salud</mat-label>
              <mat-select formControlName="socialSecurity" (click)="selectQuestion(13)" required>
                <mat-option *ngFor="let item of socialSecurityList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="isControlHasErrorSecundary('socialSecurity', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass">
              <mat-label>Número de hijos</mat-label>
              <input matInput placeholder="Número de hijos" formControlName="numberChildren" maxlength="2"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
              <mat-error *ngIf="isControlHasErrorSecundary('numberChildren', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="inputClass">
              <mat-label>Personas a cargo</mat-label>
              <input matInput placeholder="Personas a cargo" formControlName="dependents" maxlength="2"
                     oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>
              <mat-error *ngIf="isControlHasErrorSecundary('dependents', 'required')">
                <strong>Campo requerido</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <mat-card-actions>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext (click)="selectQuestion(16)">Siguiente</button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Comorbilidades, trastornos y enfermedades preexitentes</ng-template>
    <mat-card class="advancedForm">
      <form [formGroup]="comorbidityInfo">
        <mat-grid-list cols="3" rowHeight="80px">
          <mat-grid-tile *ngFor="let comorbilities of comorbilitiesList; let i = index">
            <div class="checkboxGrid">
              <mat-checkbox (change)="onCheckboxChange($event)" [value]="comorbilities.idOptionAnswer.toString()">
                {{comorbilities.description}}
              </mat-checkbox>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="80px">
          <mat-grid-tile>
            <div style="width: 100%;">
              <mat-form-field class="inputClass" appearance="standard" style="width: 450px">
                <mat-label>13. Diagnosticado con algún trastorno o enfermedad mental</mat-label>
                <input matInput formControlName="disorderDisease">
                <mat-error *ngIf="isControlHasError('disorderDisease', 'required')">
                  <strong>Campo requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div style="width: 100%;">
              <mat-form-field class="inputClass" appearance="standard" style="width: 450px">
                <mat-label>14. Discapacidad física o mental</mat-label>
                <input matInput formControlName="physicalMental">
                <mat-error *ngIf="isControlHasError('physicalMental', 'required')">
                  <strong>Campo requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <mat-card-actions>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button matStepperNext>Siguiente</button>
      </mat-card-actions>
    </mat-card>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Factores contextuales asociados al Covid-19</ng-template>
    <mat-card class="advancedForm">
      <form [formGroup]="factors">
        <mat-grid-list cols="3" rowHeight="100">
          <mat-grid-tile>
            <div class="example-radio-group">
              <label>Ha sido diagnosticado con Covid-19</label>
              <mat-radio-group class="example-radio-group" formControlName="hadCovid" [(ngModel)]="hadCovid">
                <mat-radio-button class="example-radio-button" value="65">Si</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="66">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass" *ngIf="hadCovid == 65">
              <mat-label>Qué tan grave fue su afectación debido al Covid-19?</mat-label>
              <mat-select formControlName="affectationCovid" (click)="selectQuestion(18)">
                <mat-option *ngFor="let item of affectationCovidList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>¿Padeció o padece secuelas en alguno de los siguientes ámbitos?</mat-label>
              <mat-select formControlName="aftermath" multiple (click)="selectQuestion(19)">
                <mat-option *ngFor="let item of aftermathList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="example-radio-group">
              <label>¿Padeció el fallecimiento de amigos, familiares u otras personas cercabas de su entorno a raíz del
                Covid-19?</label>
              <mat-radio-group class="example-radio-group" formControlName="deadFamilyCovid"
                               [(ngModel)]="deadFamilyCovid">
                <mat-radio-button class="example-radio-button" value="78">Si</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="79">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass" *ngIf="deadFamilyCovid == 78">
              <mat-label>¿Experimentó alguno de los siguientes sintomas a raíz del fallecimiento de usus amigos ,
                familiares u otras personas cercanas de su entorno por Covid-19?
              </mat-label>
              <mat-select formControlName="deadFamily" multiple (click)="selectQuestion(21)">
                <mat-option *ngFor="let item of deadFamilyList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>¿Experimentó alguna de las siguientes situaciones en su trabajo como resultado de la pandemia
                por Covid-19?
              </mat-label>
              <mat-select formControlName="workSituation" multiple (click)="selectQuestion(22)">
                <mat-option *ngFor="let item of workSituationList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard" class="inputClass">
              <mat-label>¿Experimentó alguna de las siguientes situaciones en el colegio o universidad como resultado de
                la pandemia por Covid-19?
              </mat-label>
              <mat-select formControlName="studentSituation" multiple (click)="selectQuestion(23)">
                <mat-option *ngFor="let item of studentSituationList" [value]="item.idOptionAnswer">
                  {{item.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <div class="example-radio-group">
              <label>¿Ha sido víctima del conflicto armado?</label>
              <mat-radio-group class="example-radio-group" formControlName="conflictVictim">
                <mat-radio-button class="example-radio-button" value="102">Si</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="103">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="100">
          <mat-grid-tile>
            <div class="example-radio-group">
              <label>¿Ha experimentado episodios de violencia intrafamiliar o de pareja a nivel físico, verbal o
                psicológico durante la pandemia por Covid-19?</label>
              <mat-radio-group class="example-radio-group" formControlName="diomesticViolence">
                <mat-radio-button class="example-radio-button" value="104">Si</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="105">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="100">
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%;">
              <label>¿Asistió a servicios en salud mental durante la pandemia?</label>
              <mat-radio-group class="example-radio-group" formControlName="mentalHealth">
                <mat-radio-button class="example-radio-button" value="313">Si</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="314">No</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="1" rowHeight="100">
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%;">
              <label>¿Su postura con respecto a la vacunación contra el Covid-19 es?</label>
              <mat-radio-group class="example-radio-group" formControlName="vaccinationPosture">
                <mat-radio-button class="example-radio-button" value="108">1. A favor</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="109">2. En contra</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="110">3. Indiferente</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-actions>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext (click)="selectMentalHealthNeeds([2801, 2802, 2803, 2804, 2805,
          2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819])">Siguiente
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Necesidades en salud mental asociadas al Covid-19</ng-template>
    <mat-card class="advancedForm" style="max-height: 600px; overflow-y:scroll">
      <form [formGroup]="mentalHealthNeeds">
        <mat-card-header>
          <mat-card-title> A raíz de la pandemia por Covid-19:</mat-card-title>
        </mat-card-header>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha sentido triste o infeliz</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="one">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of oneList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha dormido menos de lo habitual</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="two">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of twoList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Le han afectado eventos inesperados en su vida o en la vida de las personas con las que se
                relaciona</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="three">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of threeList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha perdido el control y la estabilidad debido a problemas y cambios importantes en su vida</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="four">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of fourList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha perdido el interes en otras actividades o personas</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="five">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of fiveList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha sentido optimista y motivado(a) a pesar de sus fracasos</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="six">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of sixList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>No ha podido concentrarse tan bien como habitualmente</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="seven">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of sevenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha incrementado en consumo de alcohol u otras sustancias psicoactivas</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="eight">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of eightList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha criticado y culpado a mi mismo por todo lo malo que ha sucedido</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="nine">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of nineList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha sentido inquieto, tenso o agitado</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="ten">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of tenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha estado mas irritable de lo habitual</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="eleven">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of elevenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha sentido miedo y desesperanza respecto a su futuro</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="twelve">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of twelveList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Todo el tiempo ha pensado en su salud y le ha preocupado adquirir una enfermedad</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="thirteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of thirteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha sentido mas cansado o fatigado de lo habitual</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="fourteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of fourteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>No ha experimentado placer por las cosas que solia disfrutar</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="fifteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of fifteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha perdido interes en el sexo</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="sixteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of sixteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Se ha sentido culpable respecto de las cosas que hizo o debió hacer</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="seventeen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of seventeenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha tenido pensamientos o deseos de matarse</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="eighteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of eighteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="example-radio-group" style="width: 100%">
              <label>Ha experimentado soledad</label>
              <br>
              <mat-radio-group class="example-radio-group" formControlName="nineteen">
                <mat-radio-button class="example-radio-button" *ngFor="let commonAnswer of nineteenList"
                                  [value]="commonAnswer.idOptionAnswer">{{commonAnswer.description}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-actions>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext (click)="sendQuantitativeInstrument([personalInfo, secundaryInfo,
          comorbidityInfo, factors, mentalHealthNeeds])">Enviar
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-step>
</mat-vertical-stepper>
