.inputClass{
  width: 380px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;

}
.selectClass{
  width: 400px;
  margin-top: 22px;
  margin-left: 15px;
}
.advancedForm {
  width: 850px;
}

.example-radio-group {
  display: inline-block;
  flex-direction: column;
  margin-left: 12px;
}

.example-radio-button {
  margin: 5px;
}

.checkboxGrid{
  display: flex !important;
  justify-content: flex-start !important;
  align-content: center !important;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff4f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
::ng-deep mat-tooltip-component{
  & .mat-tooltip{
    background: #153853;
    width: 1000px;
    font-size: medium;
  }
}
