<mat-card>
  <mat-card-title>Reporte Actividades de Agentes Comunitarios</mat-card-title>
  <!-- los nombres de formControlName deben estar mapeados en el .ts   -->
  <form [formGroup]="form" (ngSubmit)="sendData()">

    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Nombre de la actividad</mat-label>
      <input formControlName="activity_name" matInput placeholder="Nombre de la actividad">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Actividad #</mat-label>
      <input formControlName="activity_number" type="number" matInput placeholder="Actividad #">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Fecha</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Duración</mat-label>
      <input formControlName="duration" matInput placeholder="Duración">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Lugar</mat-label>
      <input formControlName="place" matInput placeholder="Lugar">
    </mat-form-field>

    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Número de Asistentes</mat-label>
      <input formControlName="number_attendees" type="number" matInput placeholder="Número de asistentes">
    </mat-form-field>

    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Objetivo de la actividad</mat-label>
      <input formControlName="activity_objectives" matInput placeholder="Objetivo de la Actividad">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Recursos utilizados</mat-label>
      <input formControlName="resources_used" matInput placeholder="Recursos Utilizados">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Metodología Utilizada</mat-label>
      <input formControlName="methodology_used" matInput placeholder="Metodología Utilizada">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Descripción y Desarrollo de la Actividad</mat-label>
      <input formControlName="activity_description_development" matInput
             placeholder="Descripción y Desarrollo de la Actividad">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Recursos Obtenidos</mat-label>
      <input formControlName="resources_obtained" matInput placeholder="Recursos Obtenidos">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Evidencias</mat-label>
      <input formControlName="evidence" matInput placeholder="Evidencias">
    </mat-form-field>
    <mat-form-field class="inputClass" appearance="fill">
      <mat-label>Profesional y/o Encargado de Ejecturar la Actividad</mat-label>
      <input formControlName="activity_professional_incharge" matInput
             placeholder="Profesional y/o Encargado de Ejecturar la Actividad">
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">GUARDAR</button>
      <button mat-button>CANCELAR</button>
    </mat-card-actions>
  </form>

</mat-card>
