.inputClass{
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}
.selectClass{
  width: 400px;
  margin-top: 22px;
  margin-left: 15px;
}
.advancedForm {
  width: 850px;
  font-size: 14px;
  text-align: center;
  font-family: Lato, Helvetica Neue, sans-serif;
}
.mat-card-title {
  margin-bottom: 25px;
}
