<mat-card>
  <h2>Revisión Instrumento Cuantitativo y Ficha de Atención - Instrumento <b>{{this.tipoCuestionario}}</b></h2>

  <h3><b>Instrumento Cuantitativo</b></h3>
  <nav>

    <div *ngFor="let mostrarDatosInstrumentos of resultadoFinalInstrumentos">
      <table>
        <tr>
          <td><b>Pregunta:</b> {{mostrarDatosInstrumentos?.pregunta}}</td>
          <td><b>Respuesta:</b> {{mostrarDatosInstrumentos.respuesta}}</td>
        </tr>
      </table>

    </div>
  </nav>

  <br>
  <h3><b>Ficha de Atención</b></h3>

  <nav>

    <div *ngFor="let mostrarDatosFicha of resultadoFinalFicha">
      <table>
        <tr>
          <td><b>Pregunta:</b> {{mostrarDatosFicha?.pregunta}}</td>
          <td><b>Respuesta:</b> {{mostrarDatosFicha.respuesta}}</td>
        </tr>
      </table>

    </div>
  </nav>

  <div class="alineandoboton">
    <button class="btn" mat-raised-button color="primary" (click)="openDialogInactiveAlert()">Desactivar Alerta</button>
    <button mat-raised-button color="accent" (click)="openDialogRASM()">Activar ruta de atención</button>
  </div>

</mat-card>


