<mat-card>
  <h2>Revisión Instrumento Cuantitativo y Ficha de Atención</h2>
  <nav>

    <div *ngFor="let mostrarDatos of resultadoFinal2">
      <table>
        <tr>
          <td><b>Pregunta:</b> {{mostrarDatos?.pregunta}}</td>
          <td><b>Respuesta:</b> {{mostrarDatos.respuesta}}</td>
        </tr>
      </table>

    </div>
  </nav>

  <div class="alineandoboton">
    <button class="btn" mat-raised-button color="primary" (click)="openDialogInactiveAlert()">Desactivar Alerta</button>
    <button mat-raised-button color="accent" (click)="openDialogRASM()">Activar ruta de atención</button>
  </div>

</mat-card>


