/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();
// Define a custom typography config
$custom-typography: mat-typography-config(
  $font-family: 'Lato sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

html, body {
  height: 100%;
}

body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}

$md-primary: (
  50 : #e2e5e8,
  100 : #b6bfc5,
  200 : #86959f,
  300 : #566a79,
  400 : #314a5c,
  500 : #0d2a3f,
  600 : #0b2539,
  700 : #091f31,
  800 : #071929,
  900 : #030f1b,
  A100 : #599cff,
  A200 : #267dff,
  A400 : #0061f2,
  A700 : #0057d9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
/* For use in src/lib/core/theming/_palette.scss */
$md-accent: (
  50 : #f0f8e6,
  100 : #d8edc0,
  200 : #bfe196,
  300 : #a5d56c,
  400 : #91cc4d,
  500 : #7ec32d,
  600 : #76bd28,
  700 : #6bb522,
  800 : #61ae1c,
  900 : #4ea111,
  A100 : #e3ffd1,
  A200 : #c4ff9e,
  A400 : #a4ff6b,
  A700 : #95ff52,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-greenligth: (
  50 : #f8fbe6,
  100 : #eef4c0,
  200 : #e2ed96,
  300 : #d6e56b,
  400 : #cee04c,
  500 : #c5da2c,
  600 : #bfd627,
  700 : #b8d021,
  800 : #b0cb1b,
  900 : #a3c210,
  A100 : #fcfff1,
  A200 : #f3ffbe,
  A400 : #e9ff8b,
  A700 : #e4ff71,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-blue: (
  50 : #ebf6f8,
  100 : #cce9ee,
  200 : #abdae3,
  300 : #89cbd8,
  400 : #6fc0cf,
  500 : #56b5c7,
  600 : #4faec1,
  700 : #45a5ba,
  800 : #3c9db3,
  900 : #2b8da6,
  A100 : #e9faff,
  A200 : #b6efff,
  A400 : #83e4ff,
  A700 : #69dfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-warm: (
  50 : #ffe9e5,
  100 : #fec8bd,
  200 : #fea492,
  300 : #fe8066,
  400 : #fd6445,
  500 : #fd4924,
  600 : #fd4220,
  700 : #fc391b,
  800 : #fc3116,
  900 : #fc210d,
  A100 : #ffffff,
  A200 : #fff4f3,
  A400 : #ffc4c0,
  A700 : #ffaca7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$candy-app-primary: mat-palette($md-primary);
$candy-app-accent: mat-palette($md-accent);
$dark-warn: mat-palette($md-warm);
$candy-app-theme: mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warm: $dark-warn
  )
));
@include angular-material-theme($candy-app-theme);
