.inputClass{
  width: 290px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.selectClass{
  width: 400px;
  margin-top: 22px;
  margin-left: 15px;
}
.advancedForm {
  width: 850px;
}

.example-radio-group {
  width: 100%;
  display: inline-block;
  flex-direction: column;
  margin-left: 12px;
  padding-right: 30%;
}

.example-radio-button {
  margin: 5px;
}
